*{
    margin: 0;
    padding:0;
    border: border-box ;
    
}
/* header sectin */
.nav{
    height: 50px;
    background: linear-gradient(to right, #1a2e35 50%, #1cbbb4 50%);
}

.nav-content{
    height: 50px;
    padding: 10px;
    display: flex;
    font-family: 'Domaine Display Narrow', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
.nav-image{
    display: flex;
    height: 50px;
    width: 200px;

}
.img{
    background-image: url("/images/logo.png");
    height: 30px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-content ul{
    list-style-type: none;
}
.nav-content li{
    display: inline;
    margin-right: 30px;
    border: none;

}
li:hover{
    background-color: white;
    color: #1a2e35;
    border: 2px solid #1a2e35;
    border-radius: 5px;
    padding: 3px;
}
/* hero sectin*/
.hero-class{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    font-family: 'Domaine Display Narrow', sans-serif;
}
.left{
    background-color: #1a2e35;
    height: 100%;
    width: 50%;
    color: white;
    display: inline;

}
.left-content{
    margin-left: 130px;
    margin-top: 80px;

}
.left-content h4{
    margin-right: 150px;

}
.content-button{
    margin-top: 40px;
   
}
.content-button button{
    height: 45px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-family: 'Domaine Display Narrow', sans-serif;
}
#b1{                                               
    color: white;
    background-color: #ff4f5a;
  
}
#b1:hover{                                               
    color: #ff4f5e;
    background-color: #1a2e35;
    border: 2px solid #ff4f5e;
}
#b2{                                               
   margin-left: 10px;
  
}
#b2:hover{                                               
    color: white;
    background-color: #1a2e35;
    border: 2px solid white;
}
.right{
    background-color: #1cbbb4;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-image{
    height: 350px;
    width: 350px;
    background-image: url(/images/slider-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
   
}