*{
    margin: 0;
    padding:0;
    border: border-box ;
    font-family: 'Domaine Display Narrow', sans-serif;
}
/* header sectin */
.nav{
    height: 50px;
    background: linear-gradient(to right, #1a2e35 50%, #1cbbb4 50%);
}

.nav-content{
    height: 50px;
    padding: 10px;
    display: flex;
    font-family: 'Domaine Display Narrow', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;

}
.nav-image{
    display: flex;
    height: 50px;
    width: 200px;

}
.img{
    background-image: url("/images/logo.png");
    height: 30px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-content ul{
    list-style-type: none;
}
.nav-content li{
    display: inline;
    margin-right: 30px;
    border: none;
    
}
li:hover{
    background-color: white;
    color: #1a2e35;
    border: 1px solid #1a2e35;
    border-radius: 5px;
    padding: 3px;
}
.search-container{
    width: 35%;
    display: flex;
    position: relative;
    margin-left: 130px;
}
.search{
    height: 30px;
    width: 100%;
    background: none;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
    color: white;
    padding-left: 10px;
}
#sicon {
    position: absolute;
    top: 32%;
    right: 10px; 
    transform: translateY(-50%);
    height: 15px; 
    width: 15px;
    pointer-events: none; 
  }

/* hero sectin*/
.hero-class{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    font-family: 'Domaine Display Narrow', sans-serif;
}
.left{
    background-color: #1a2e35;
    height: 100%;
    width: 50%;
    color: white;
    display: inline;

}
.left-content{
    margin-left: 150px;
    margin-top: 50px;

}
.left-content h4{
    margin-right: 150px;

}
.content-button{
    margin-top: 40px;
   
}
.content-button button{
    height: 45px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-family: 'Domaine Display Narrow', sans-serif;
}
#b1{                                               
    color: white;
    background-color: #ff4f5a;
  
}
#b1:hover{                                               
    color: #ff4f5e;
    background-color: #1a2e35;
    border: 2px solid #ff4f5e;
}
#b2{                                               
   margin-left: 10px;
  
}
#b2:hover{                                               
    color: white;
    background-color: #1a2e35;
    border: 2px solid white;
}
.right{
    background-color: #1cbbb4;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-image{
    height: 350px;
    width: 350px;
    background-image: url(/images/slider-img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
   
}
/* experience section */
.experience-section{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;

}
.exp-img-cont{
    height: 100%;
    width: 40%;
    display: flex ;
    justify-content: center;
    align-items: center;
}
#exp-img{
    height: 300px;
    width: 300px;
    background-image: url(/images/experience-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
.exp-cont{
    height: 100%;
    width: 60%;
    margin-left: 50px;

}
.exp-cont h1{
    margin-top: 75px;
}
.exp-cont p{
    font-size:18px;
    margin-top: 25px;
    margin-right: 180px;
}
.exp-button{
    margin-top: 50px;
}
.exp-button button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-family: 'Domaine Display Narrow', sans-serif;
}
#e1{                                               
    color: white;
    background-color: #ff4f5a;
  
}
#e1:hover{                                               
    color: #ff4f5e;
    background-color: white;
    border: 1px solid #ff4f5e ;
}
#e2{                                               
   margin-left: 15px;
   background-color: #1a2e35;
   color: white;
}
#e2:hover{                                               
    color: #1a2e35;
    background-color: white;
    border: 1px solid #1a2e35;
}
/* category */
.category-section{
    background-color: #1cbbb4;
    height: 600px;
    width: 100%;
    color: white;

}
.cat-text{

    height: 20%;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat-text h1{
    margin: 0;
    text-align: center;
   text-decoration: underline;
}
.cate-cont{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    margin-top: 10px;
    height: 150px;
    width: 27%;
    display: flex;
    justify-content: center;

}
.boximg{
    height: 100px;
    width: 120px;
    background-size: cover;
    background-position: center;

}
.boxitem h3{
    margin-top: 20px;
}
.about-section{
      
    height: 650px;
}
.about-image{
    height: 60%;
    display: flex;
    justify-content: center;
}
#imgId{
    height: 400px;
    width: 500px;
    background-image: url("images/about-img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
.about-taxt{
    height: 40%;
}
.about-button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    font-family: 'Domaine Display Narrow', sans-serif;
    margin-bottom: 20px;
    margin-left: 570px;
}
.work{
    height: 550px;
    width: 100%;
}
.work-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}
.work-left{
   height: 100%;
   width: 45%;
}
.work-right{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;  

}
.work-img{
    height: 80%;
    width: 100%;
    background-image: url("images/freelance-img.jpg");
    background-size: cover;

}
.div-container{
    height: 100px;
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;

}

.work-logo{
    height: 100px;
    width: 100px;
    background-color: #1cbbb4;
    border: 1px solid #1cbbb4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
}
.work-logo:hover{
    background-color: #1a2e35;
    border: 1px solid #1a2e35;
}
.logo-container{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    margin-top: 17px;

}
.work-logo-img{
    height: 10px;
    width: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.div-text{
    margin-left: 20px;
    margin-top: 23px;
}
.div-text h4{

    color: #ff4f5a;

}
.div-text h2{
    color: #1a2e35;
    margin-top: 5px;
}